.row.content {
  // margin-top: 30px;
}

.row .columns small.error {
  display: none;
}

.row .columns.error small.error {
  display: block;
}

.header {
  margin-bottom: 10px;
}

.row.save-btn {
  margin-top: 15px;
  text-align: right;
}

.add-column {
  /*text-align: right;*/
}

.fi-check {
  font-size: 18px;
  color: green;
}

.fi-x {
  font-size: 18px;
  color: red;
}

.alert-box {
  display: none;
}

.padding {
  margin-top: 10px;
}

#main .icon-bar {
  background: transparent;
}

.icon-bar .item.right {
  float: right;
}

.icon-bar span.item.title {
  background: transparent;
  text-align: center;
  width: 60%;
}

.done .vote-btn, .done .unvote-btn {
  visibility: hidden;
}

.vote-btn i {
  display: inline;
}
.sending span {
  margin-right: 5px;
}
.sending i {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.votes-num {
  font-size: 26px;
}

/* Vote buttons table*/

.buttons-table {
  width: 100%;
  padding: 0;
}

.buttons-table a.item {
  padding: 0;
}

.buttons-table .vote-btn i {
  display: inline;
}

.buttons-table td.middle-column {
  width: 50%;
  text-align: center;
  padding: 15px;
  background: transparent;
}

.buttons-table td.left-column,  .buttons-table td.right-column{
  text-align: center;
  padding: 15px;
}

.buttons-table td.right-column a{
  display: inline-block;
  width: 100%;
}


