<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Quick vote</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">

    <% if (logged) { %>
      <li class="divider"></li>
      <li><a href="#polls">Poll List</a></li>
      <li class="divider"></li>
      <li><a href="#add-poll">Add Poll</a></li>
      <li class="divider"></li>
      <li><a href="#account" class="username"><%= username %></a></li>
      <li class="divider"></li>
      <li><a href="#logout">Logout</a></li>
    <% } else { %>
      <li class="divider"></li>
      <li><a href="#login">Login</a></li>
      <li class="divider"></li>
      <li><a href="#register">Register</a></li>
    <% } %>
      
    </ul>
  </section>
</nav>