<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="version" content="<%= version %>" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JWT Auth Backbone</title>
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <!-- Header -->
        <div class="row">
          <div class="large-12 columns header"></div>
        </div>
        <div data-alert class="alert-box radius"></div>
        <!-- Content -->
        <div class="row content">
          <div class="large-12 columns" id="main"></div>
        </div>
        <!-- Footer -->
        <footer class="row">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-6 columns">
                <p>2014 © baniowski.net</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- build:js js/app.js -->
    <script data-main="js/main" src="bower_components/requirejs/require.js"></script>
    <!-- /build -->
  </body>
</html>
