<div class="row">
  <div class="small-4 small-centered columns">
    <form class="account-form">
      <div class="large-12 columns">
        <label class="">Username
          <input type="text" data-valid="username" class="username-input" value="<%= user.username %>" />
        </label>
        <small class="error">Invalid entry</small>
      </div>
      <div class="large-12 columns">
        <label class="">Email
          <input type="email" data-valid="email" class="email-input" value="<%= user.email %>" />
        </label>
        <small class="error">Invalid entry</small>
      </div>
      <div class="large-12 columns">
        <label class="">Password
          <input type="password" data-valid="password" class="password-input" />
        </label>
        <small class="error">Invalid entry</small>
      </div>
      <div class="large-12 columns">
        <label class="">Repeat password
          <input type="password" data-valid="confirmPassword" class="password-repeat-input" />
        </label>
        <small class="error">Invalid entry</small>
      </div>
      <div class="large-12 columns padding">
        <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="small-4 small-centered columns">
    <div class="large-12 columns">
      <button class="btn btn-outline btn-lg btn-block alert remove-account">Remove Account</button>
    </div>
  </div>
</div>