<div class="row">
  <div class="small-4 small-centered columns">
    <form class="forgot-form">
      <div class="large-12 columns">
        <label class="">Email
          <input type="email" data-valid="email" class="email-input" />
        </label>
        <small class="error">Invalid entry</small>
      </div>
      <div class="large-12 columns padding">
        <button type="submit" class="btn btn-outline btn-lg btn-block">Send</button>
      </div>
    </form>
  </div>
</div>