<div class="row">
  <div class="small-4 small-centered columns">
    <form class="login-form">
      <div class="large-12 columns">
        <label class="">Username / Email
          <input type="text" data-valid="username_email" class="username_email-input" />
        </label>
        <small class="error">Invalid entry</small>
      </div>
      <div class="large-12 columns">
        <label class="">Password
          <input type="password" data-valid="password" class="password-input" />
        </label>
        <small class="error">Invalid entry</small>
      </div>
      <div class="large-12 columns">
        <a href="#forgot-password">Forgot password</a>
      </div>
      <div class="large-12 columns padding">
        <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
      </div>
    </form>
  </div>
</div>